{% extends 'admin/base.html.twig' %}

{% block main %}
    <section>
        {% for admin in admins %}
            <article>
                <h2>{{ admin.email }}</h2>
                <div>
                    {% for role in admin.roles %}
                        <span>{{ role }} | </span>
                    {% endfor %}
                    <a href="{{ path('admin_delete_admin', {'id' : admin.id }) }}" class="btn">Supprimer l'admin</a>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}