{% extends 'base.html.twig' %}

{% block main %}
<main>
        <div id="img-container">
                <img src="../public/assets/css/img/librairie.jpg" alt="Livres">
                <h1>Bienvenus à la librairie</h1>
        </div>
</main>
{% endblock %}